.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.text-editor-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 90vh;
}

.text-editor{
  margin: 2rem 2rem 2rem auto;
  width: 95%;
  height: 80%; 
}

.date-picker{
  margin: 2rem auto auto 2rem;
  width: 20%;
  height: 40vh;
}

.save-button{
  margin: 2rem 2rem 2rem auto;
}

